<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="navbar">
  <div>
    <a routerLink="/">Sport Time</a>

  </div>
  <div>
  <a routerLink="/about">About</a>
  <div class="dropdown">
    <button class="dropbtn">Sport
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/basket-ball">Basketball</a>
      <a routerLink="/volley-ball">Volleyball</a>
      <a routerLink="/soccer">Soccer</a>
      <a routerLink="/badminton">Badminton</a>
    </div>
  </div>
  <a routerLink="/login">Login</a>
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
